*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
    background-color: white;
}


/* Header-top-area  */
.header{
    background: rgba(255, 144, 14, 0.1);
    padding:30px 0;
}
.header-container{
    width: 1080px;
    margin: 0 auto;
}

.header-top-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30;
}

.header-logo h2{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.header-menu a{
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    text-decoration: none;
    margin-left: 30px;
}
.hero-content-area{
    margin-top: 90px;
}

.hero-content-details{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.hero-content-heading{
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 20px;
}
.para{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #727272;
}
.button{
    background-color: #FF900E;
    font-size: 18px;
    text-align: center;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    
    cursor: pointer;
}
.main{
    width: 1080px;
    margin: 50px auto;
}
.explore-btn1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero-banner-image{
    margin-top: 10px;
}
.hero-banner-image img{

    width: 100%;
}

/* .quick-list-area  */
.quick-list-container{
    padding: 0px 70px;
}
.quick-list{
    display: flex;
    column-gap: 50px;
    align-items: center;
    padding: 0px 25px;
}
.quick-list-images{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}
.quick-list-images >div img{
    width: 250px;
    height: 250px;
}
.heading{
    font-size: 40px;
    font-weight: 700;
}

.quick-list-title span.gray-color{
    font-weight: 400;
    color:gray
}
.quick-list-title span.tomato-color{
    color:#FF900E
}
.quick-list-para{
    margin-top: 30px;
    margin-bottom: 30px;
}
/* Feature area  */
.feature-area{
    margin-top: 50px;
}
.feature-container{
 display: flex;
 column-gap: 50px;
}
.feature-image{
    position: relative;
}
.feature-image img{
  width: 550px;
}
.feature-para{
    margin-top: 20px;
}
.feature-boxes{
    margin-top: 30px;
}
.box{
    background-color: white;
    padding:15px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.24);
    margin-bottom: 15px;
}
.box-text{
    margin-top: 8px;
    font-size: 15px;
    line-height: 22px;

}

.experience{
    background-color: #FF900E;
    color: white;
    width: 250px;
    height: 120px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    position: absolute;
    left:-40px;
    top:55%
}
.experience h2{
    font-size: 45px;
    font-weight: 700;
}

/* fact area  */
.fact-area{
    margin-top: 50px;
}
.fact-title{
    margin-bottom: 70px;
}
.fact-heading{
    margin-bottom: 15px;
}
.fact-boxes{
    display: flex;
    justify-content: space-evenly;
}
.fact-box{
    border:1px solid #FF900E;
    padding:20px;
    text-align: center;
    width: 170px;
    height: 170px;
}
.fact-box img{
   width: 40px;
   height: 40px;
}
.fact-box h2{
    font-size: 35px;
    color: #424242;
}
.fact-box h5{
    color: #424242;
}
.fact-box:hover{
    border: 5px solid green;
    box-shadow: 5px 10px 20px #FF900E;
}
/* sponsor area  */
.sponsor-area{
    margin-top: 100px;
}
.sponsor-title{
    text-align: center;
    padding: 0 270px;
    margin-bottom: 50px;
    
}
.sponsor-heading{
    margin-bottom: 10px;
}
.sponsor-image{
    display: flex;
    justify-content: space-between
}
.sponsor-image >div img{
    width: 120px;
    height: 30px;
}

 /* footer area  */
 .footer{
    margin-bottom: 50px;
 }
 .footer-container{
    width: 1080px;
    margin: 0 auto;
    background: rgba(255, 144, 14, 0.1);
    padding:30px 0;
 }
 .footer-container p{
    text-align: center;
 }
 .title-feature{
    position: relative;
 }

 .title-feature::before {
    position: absolute;
    content: "";
    background-color: #FF900E;
    height: 80px;
    width:4px;
    left:-12px;
    top:10px
 }






